
@{
    ViewData["Title"] = "Index";
}
<style>
    h1{
        text-align:center;
    }
</style>
<h1>Homepage</h1>
<button><a href="/Category/List">Categories</a></button>
<button><a href="/Product/List">Start Order</a></button>